.container-animacion7{
    position: relative;
    background-color: #4C4BA2;
    overflow: hidden;
}

.a7-puntos {
    padding-top: 20px;
    padding-left: 150px;
}

.a7-punto {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    margin: 5px 0;
}

.a7-punto-1 {
animation: punto 1.05s ease-in-out infinite;
}

.a7-punto-2 {
animation: punto 1.07s ease-in-out infinite;
}

.a7-punto-3 {
animation: punto 1.09s ease-in-out infinite;
}

.a7-punto-4 {
animation: punto 1.11s ease-in-out infinite;
}

.a7-punto-5 {
animation: punto 1.13s ease-in-out infinite;
}

.a7-punto-6 {
animation: punto 1.15s ease-in-out infinite;
}

.a7-punto-7 {
animation: punto 1.17s ease-in-out infinite;
}

.a7-punto-8 {
animation: punto 1.2s ease-in-out infinite;
}

.a7-punto-9 {
animation: punto 1.22s ease-in-out infinite;
}

.a7-punto-10 {
animation: punto 1.25s ease-in-out infinite;
}

.a7-punto-11 {
animation: punto 1.27s ease-in-out infinite;
}

.a7-punto-12 {
animation: punto 1.30s ease-in-out infinite;
}

.a7-punto-13 {
animation: punto 1.33s ease-in-out infinite;
}

.a7-punto-14 {
animation: punto 1.36s ease-in-out infinite;
}

.a7-punto-15 {
animation: punto 1.39s ease-in-out infinite;
}

.a7-punto-16 {
animation: punto 1.42s ease-in-out infinite;
}

.a7-punto-17 {
animation: punto 1.46s ease-in-out infinite;
}

.a7-punto-18 {
animation: punto 1.5s ease-in-out infinite;
}

  
@keyframes punto {
    0%, 100% {
      transform: translate3d(50px, 0, 0);
    }
    50% {
      transform: translate3d(-50px, 0, 0);
    }
}

.paused,
.paused::after,
.pausec::before {
  animation-play-state: paused;
}