.card-container{
    background-color: white;
    border-radius: 20px;
}

.card-container a{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-container a img{
    border-radius: 15px;
}