.header-container{
    background-color: black;
    height: auto+50px;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.container-title{
    display: flex;
}
.header-title1{
    color: transparent;
    font-weight: 800;
    -webkit-text-stroke: 1px #01eeff;
    font-size: 3rem;
    margin: 0;
}

.header-title2{
    color: transparent;
    font-weight: 800;
    -webkit-text-stroke: 1px #eeff00;
    font-size: 3rem;
    margin: 0;
}

.header-ul{
    list-style: none;
}

.header-item{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 30px 0 0;
}

.link-title{
    text-decoration: none;
    margin-left: 248px;
}