.main-container{
    height: 1200px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 100%), url(../images/fondo1.png) ;
}

.div-separador{
    width: 100%;
    height: 20px;
    background: linear-gradient(0deg, rgba(57,57,57,1) -10%, rgba(0,0,0,1) 100%);
}

.proyects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider-inicio{
    padding-top: 20px;
}

.cards-proyects{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}