.CRS-container{
    background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #786450;
}

.CRS-info-container{
    position: absolute;
    width: 320px;
    height: 300px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}

.CRS-perfil-container{
    float: left;
    width: 200px;
    height: 300px;
    text-align: center;
}

.CRS-perfil-container .CRS-imagen{
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;
    cursor: pointer;
}

.CRS-perfil-container .CRS-imagen .CRS-circulo-1{
    position: absolute;
    top: -3px;
    left: -3px;
    width: 76px;
    height: 76px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #786450 #786450 #786450 transparent;
    border-width: 1px;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
    cursor: pointer;
}

.CRS-perfil-container .CRS-imagen .CRS-circulo-2{
    position: absolute;
    top: -6px;
    left: -6px;
    width: 82px;
    height: 82px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #786450 transparent #786450 #786450;
    border-width: 1px;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
    cursor: pointer;
}

.CRS-perfil-container .CRS-imagen img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.CRS-perfil-container .CRS-imagen:hover .CRS-circulo-1{
    transform: rotate(360deg);
}

.CRS-perfil-container .CRS-imagen:hover .CRS-circulo-2{
    transform: rotate(-360deg);
}

.CRS-nombre{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.CRS-trabajo{
    font-size: 11px;
    line-height: 15px;
}

.CRS-botones{
    margin-top: 33px;
}

.CRS-botones .CRS-btn{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto 10px auto;
    border-radius: 15px;
    border: #786450 solid 1px;
    background: none;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    color: #786450;
}

.CRS-botones .CRS-btn:hover {
    background-color: #786450;
    color: white;
}

.CRS-estadisticas{
    float: left;
}

.CRS-estadisticas .CRS-caja{
    box-sizing: border-box;
    width: 120px;
    height: 100px;
    background: #F5E8DF;
    transition: all .4s ease-in-out;
    text-align: center;
    padding-top: 28px;
}

.CRS-estadisticas .CRS-caja:hover{
    background: #E1CFC2;
    cursor: pointer;
}

.CRS-estadisticas .CRS-caja:nth-child(2) {
    margin: 1px 0;
}

.CRS-estadisticas .CRS-caja span{
    display: block;
}

.CRS-estadisticas .CRS-valor{
    font-size: 18px;
    font-weight: 600;
    color: #786450;
}

.CRS-estadisticas .CRS-parametro{
    font-size: 11px;
    font-weight: 400;
    color: #786450;
}



